<section class="shoes-content" *ngIf="contentItem;else loading">
  <div class="shoes-content-left">
    <div *ngIf="contentItem.galleryDop[choiceColorShoes].info; else loading" class="shoes-content-left-header"
         [ngClass]="{'wide': contentItem.galleryDop[choiceColorShoes].info.length > 4, 'open': isMorePhoto}">
      <div class="shoes-content-left-header-image" *ngFor="let image of contentItem.galleryDop[choiceColorShoes].info">
        <img src="{{image}}" alt="">
      </div>
      <button (click)="isMorePhoto= !isMorePhoto"> {{ isMorePhoto ? 'Less More' : 'Show More' }}</button>
    </div>
    <div class="shoes-content-left-content">
      <div class="left-content" *ngFor="let title of titleContentLeft">
        <div class="left-content-header">{{ title }}</div>
        <div class="left-content-main" *ngIf="title === 'Details';else descriptions">
          <ul class="left-content-main-details">
            <li *ngFor="let details of contentItem['details']" class="title">{{ details }}</li>
          </ul>
        </div>
        <ng-template #descriptions>
          <div class="descriptions-content">
            <div class="descriptions-content-left">
              <h3 class="descriptions-content-left-title">{{ contentItem['descriptions']['name']}}</h3>
              <p class="descriptions-content-left-text">{{ contentItem['descriptions']['text']}}</p>
            </div>
            <div class="descriptions-content-right">
              <img src="{{contentItem['descriptions']['image']}}" alt="">
            </div>


          </div>

        </ng-template>
      </div>
    </div>
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </div>
  <div class="shoes-content-right">
    <p class="shoes-content-right-title">{{ contentItem.categ }}</p>
    <p class="shoes-content-right-name">{{ contentItem.name }}</p>
    <p class="shoes-content-right-price">${{ contentItem.price }}</p>
    <p class="shoes-content-right-color">Color</p>
    <div class="shoes-content-right-colors">
      <span *ngFor="let image of contentItem.imageURL; index as i" (click)="choiceColor(i)">
        <img src="{{image}}" alt="">
      </span>
    </div>
    <p class="shoes-content-right-size">Sizes</p>
    <div class="shoes-content-right-sizes">
      <button mat-button *ngFor="let size of sizes" [style.opacity]="contentItem['sizes'].includes(size) ? '1' : '0.4'"
              [disabled]="!contentItem['sizes'].includes(size)">
        {{ size }}
      </button>
    </div>
    <p class="shoes-content-right-size-guide">Size guide</p>
    <div class="shoes-content-right-actions">
      <button mat-button class="add">ADD TO BAG</button>
      <button mat-button class="like">Like</button>
    </div>
  </div>
</section>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
