mat-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  mat-list-item{
    width: 100%;
    cursor: pointer;
    font-size: 1.6rem;
    border: 1px solid black;
    &:hover{
      color: white;
      background-color: #afacac;
      transition: all 0.8s ease-in-out;
    }
  }
}
