.sliders-news{
 max-width: 1000px;
  @media (max-width: 1400px) {
    width: 90%;
  }
  .sliders-news-title{
    margin: 0;
    font-size: 2.8rem;
    padding: 0 0 30px 0;
  }
  .slider-news-collections{
    overflow: hidden;
   ::ng-deep drag-scroll{
      display: flex !important;

      .drag-scroll-content{
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        padding-bottom: 6rem;
        &::-webkit-scrollbar-track {
          background-color: #ECEFF1;
        }

        &::-webkit-scrollbar {
          height: 0.5rem;

        }

        &::-webkit-scrollbar-thumb {
          background:  #000000;
          width: 0.5rem;
          border-radius: 0.4rem;

        }
        .collections-block{
          cursor: pointer;
          min-width: 300px;
          display: flex !important;
          justify-content: center;
          &:first-child{
            min-width: 278px;
          }
          &:last-child{
            min-width: 278px;
          }
          img{
            width: 278px;
          }
        }

      }
    }
  }
}

