<section class="sliders-news">
  <h2 class="sliders-news-title" [innerHTML]="'sliders.sliderTitle'| translate"></h2>
  <div class="slider-news-collections">
    <drag-scroll #nav>
      <mat-card (click)="openNewCollection(clothes.name)" class="collections-block" drag-scroll-item *ngFor="let clothes of newsList">
        <mat-card-header class="collections-block-header">
          <img src="{{clothes.imageURL[0]}}" alt="">
          <p class="price">${{clothes.price}}</p>
        </mat-card-header>
        <mat-card-content>
          <p>{{clothes.name}}</p>
        </mat-card-content>
      </mat-card>
    </drag-scroll>
  </div>
</section>

