.options {
  display: flex;
  gap: 24px;
  align-items: center;

  .options-search {
    display: flex;
    align-items: center;
    background: white;
    padding: 0 10px;
    input {
      border: unset;
      outline: unset;
      padding: 8px 0;
      font-size: 1.6rem;
      &:active{
        border: unset;
      }
    }
    .options-search-icons{
      cursor: pointer;
    }
  }

  .icon {
    cursor: pointer;
  }

  .dropdown {
    position: absolute;
    z-index: 9;
    top: 66px;
    right: 15px;
    padding: 12px;

    display: flex;
    flex-direction: column;

    border-radius: 20px;
    background-color: #eae3e3;

    height: auto;
    gap: 7px;
  }
}
