<div class="options">
  <app-search></app-search>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openFavourites()">
    <mat-icon>favorite</mat-icon>
  </button>
  <div class="icon bags" (click)="openBag()">
    <mat-icon svgIcon="shop"></mat-icon>
  </div>
  <div class="icon" (click)="toggleTooltip()">
    <mat-icon svgIcon="user"></mat-icon>
  </div>

  <app-options-dropdown (closeDropdown)="closeDropdown($event)" class="dropdown" *ngIf="isDropdown"></app-options-dropdown>

</div>
