.favourites{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;

  @media (max-width: 920px) {
    width: 95%;
    margin: 0 auto;
  }
  .men-shoes-list-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .products {
      padding: 0;
      max-width: 383px;

      cursor: pointer;

      @media (max-width: 920px) {
        width: 320px;
      }

      @media (max-width: 720px) {
        width: 100%;
      }

      .products-header {
        position: relative;
        padding: 0;

        width: calc(0vh + 383px);
        height: calc(0vh + 383px);

        @media (max-width: 920px) {
          width: 100%;
        }
        @media (max-width: 720px) {

        }

        img {
          position: absolute;
          bottom: 0;
          top: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .hover {
          display: none;
        }

        .active {
          display: block;
        }

        .products-header-price {
          position: absolute;
          bottom: 0;
          left: 1rem;
          background: white;
          margin: 0;
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
        }
      }

      .products-content {
        font-size: 1.4rem;
        margin: 1.5rem 0 0 0;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        p {
          margin: 0;
        }

        .products-content-name {
          font-size: inherit;
        }

        .products-content-category {
          font-size: inherit;
        }

        .products-content-colors {
          font-size: inherit;
        }
      }
    }
  }

  .attention {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 720px;
    margin: 20px auto;



    app-slider-news{
      padding-top: 70px;
    }
  }
}

