<div class="stories">
  <div class="stories_inner">
    <div class="stories_inner_time">
      <h4 class="time_title title" [innerHTML]="'home.stories.storiesTime'| translate"></h4>
      <p class="time_content content" [innerHTML]="'home.stories.storiesTimeContent'| translate"></p>
    </div>
    <div class="stories_inner_clothes">
      <h4 class="clothes_title title" [innerHTML]="'home.stories.storiesClothes'| translate"></h4>
      <p class="clothes_content content" [innerHTML]="'home.stories.storiesClothesContent'| translate"></p>
    </div>
  </div>
</div>
