.shoes-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  position: relative;
  app-clothes-content-left{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    gap: 50px;
    margin: 0 0 100px 0;
  }

  app-clothes-content-right{
    flex-basis: 25%;
    display: flex;
  }
}

@keyframes open {
  from {
    max-height: 715px;
  }
  to {
    max-height: 100%;
  }
}
