.shoes-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  position: relative;
  app-clothes-content-left{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    gap: 50px;
    margin: 0 0 100px 0;

    @media (max-width: 1460px) {
      width: 60%;
    }

    @media (max-width: 920px) {
      width: 100%;
    }
  }

  app-clothes-content-right{
    flex-basis: 25%;
    display: flex;
    @media (max-width: 1460px) {
      flex-basis: 40%;
    }
    @media (max-width: 920px) {
      display: none;
    }
  }
}

@keyframes open {
  from {
    max-height: 715px;
  }
  to {
    max-height: 100%;
  }
}
