<div class="goods">
  <div class="search-info">
    <nav *ngIf="!isChange" class="id" (click)="changeMode(true, 'id')">ID</nav>
    <input *ngIf="isChange" class="id" type="number" [formControl]="streamIdControl" (click)="changeMode(false, 'id')">
    <nav class="image"> Image</nav>
    <nav class="tage">Tage</nav>
    <nav class="categ">Category</nav>
    <nav class="name">Name</nav>
    <nav class="desc">Description</nav>
    <nav class="price">Price</nav>
    <nav class="sizes">Size</nav>
    
  </div>
  <ul class="goods_lists" *ngIf="contentGoods; else loading">
    <li [id]="content?.id" class="list" *ngFor="let content of contentGoods; index as i">
      <nav class="id">{{content?.id}}</nav>
      <nav class="image">
        <img [src]="errorImages[i] ? './assets/images/adidas/admin/goods/goods.jpg' : content?.imageURL"
          (error)="handleImageError(i)" alt="">
      </nav>
      <nav class="tage">{{content?.tage}}</nav>
      <nav class="categ">{{content?.categ}}</nav>
      <nav class="name">{{content?.name}}</nav>
      <nav class="desc">{{content?.desc}}</nav>
      <nav class="price">{{content?.price}}</nav>
      <div class="sizes">
        <nav *ngFor="let size of content?.sizes" class="sizes">{{size}}</nav>
      </div>
    </li>
  </ul>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

</div>