<div class="bags" *ngIf="bags;else attention">
  <div class="bags_left">
    <div *ngFor="let item of bags" class="bags_item">
      <mat-icon (click)="removeFromBags(item.id, item.activeSize)" class="close" svgIcon="close"></mat-icon>
      <div class="bags_item_container">
        <div class="image">
          <img src="{{item.color}}" alt="">
        </div>
        <div class="content">
          <p class="name">{{item.name}}</p>
          <p class="size" [innerHTML]="('bags.size'| translate) + item.activeSize"></p>
          <p class="price" [innerHTML]="('bags.price'| translate) + item.price"></p>
          <p>Total: <mat-form-field>
            <mat-label [innerHTML]="('bags.choice'| translate) + item.name"></mat-label>
            <mat-select [(ngModel)]="item.count" (ngModelChange)="choiceCountClothes($event, item.id)">
              <mat-option *ngFor="let number of choicePriceArray" [value]="number">{{ number }}</mat-option>
            </mat-select>
          </mat-form-field></p>
        </div>
      </div>
    </div>
  </div>
  <div class="bags_right">
    <h1 [innerHTML]="('bags.summary'| translate)"></h1>
    <div class="content">
      <p [innerHTML]="bags?.length + ('bags.item'| translate)"></p>
      <p>$ {{totalPrice}}</p>
    </div>
    <div class="content">
      <p [innerHTML]="('bags.delivery'| translate)"></p>
      <p [innerHTML]="('bags.free'| translate)"></p>
    </div>
    <div class="content">
      <p [innerHTML]="('bags.total'| translate)"></p>
      <p>$ {{totalPrice}}</p>
    </div>
  </div>
</div>

<ng-template #attention>
  <app-attention></app-attention>
</ng-template>

<app-slider-news></app-slider-news>
