.popup-country {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;
  width: 100%;

  z-index: 12;
  background-color: rgba(0, 0, 0, 0.35);

  animation: openPopup 1s;

  &-block {
    border: 1px solid whitesmoke;
    border-radius: 18px;
    max-width: 460px;
    max-height: 680px;
    height: 100%;
    width: 100%;
    background-color: #e1e5d9;

    padding: 24px;

    @media (max-width: 576px) {
      margin: 0 15px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      h1 {
        margin: 0;
      }

      .close{
        cursor: pointer;
      }
    }

    &-main {
      &-list {
        padding: 8px 14px;
        max-width: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        border-radius: 25px;
        &.active{
          background-color: #c6dccb;
        }

        cursor: pointer;
        &-icon {
          height: 24px;
        }

        &-lang {
          font-size: 1.2rem;
        }

        &:hover{
          background-color: #c6dccb;
        }
      }
    }
  }
}


.closest {
  animation: closePopup 1s;
}


@keyframes openPopup {
  from {
    top: -2000px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes closePopup {
  from {
    top: 0;
  }
  to {
    top: -2000px;
  }
}
