.upload {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  input[type='file'] {
    display: none;
  }

  label {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 40px;
    font-size: 1.8rem;
    outline: none;
    background-color: #76c7c0;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #67c2ba;
      color: rgb(236, 96, 96);
      transition: all 0.5s ease;
    }
  }
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: rgba(129, 129, 129, 0.5);

  .popup_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 780px;
    height: 920px;
    margin: 0 auto;
    background-color: white;
    border-radius: 24px;

    #progress-container {
      height: 20px;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 10px;
    }

    #progress-bar {
      height: 100%;
      background-color: #76c7c0;
      width: 0;
      border-radius: 5px;
      transition: width 0.4s ease;
    }

    .reports {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
      height: 100%;

      .reports_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .reports_title {
          font-size: 2.4rem;
        }

        .reports_block_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;

          p {
            font-size: 1.6rem;
            margin: 0;
          }
        }
      }

      ::ng-deep .reports_lists {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
        justify-content: center;

        mat-list-item {
          padding: 0;
          width: 40%;
          border: 1px solid black;
          padding: 10px;
        }

        .mdc-list-item__primary-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          nav {
            width: max-content;
            color: green;
            font-size: 1.8rem;

            &.active {
              color: red;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 25px;
      padding: 0 15px;

      button {
        outline: none;
        border: 1px solid black;
        font-size: 1.75rem;
        background: white;
        padding: 7px 12px;
        border-radius: 8px;
      }
    }
  }

}