.dropdown {
  nav {
    cursor: pointer;
    padding: 8px 12px;
    font-size: 1.25rem;

    &:hover {
      background-color: #afacac;
      border-radius: 15px;
      transition: all 0.5s ease;
    }
  }
}
