@use '@angular/material' as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    warn: $my-app-warn,
  )
));

@include mat.all-component-themes($my-app-theme);


html, body {
  height: 100%;
  font-size: 10px;

  &::-webkit-scrollbar-track{
    width: 6px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 12px;
  }

  &::-webkit-scrollbar{
    width: 6px;
    background-color: #e1e5d9;

  }
}



body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body{
}

.loader {
  display: flex;
  justify-content: center;
  height: calc(100vh - 400px);
  align-items: center;
}

